/WebNLG_evaluation/
/WebNLG_corpus_reader/
/WebNLG_evaluation/GenerationEval/bleurt/
/WebNLG_evaluation/GenerationEval/data/
/WebNLG_evaluation/GenerationEval/meteor-1.5/
/WebNLG_evaluation/GenerationEval/metrics/
/WebNLG_evaluation/GenerationEval/.gitignore
/WebNLG_evaluation/GenerationEval/eval.py
/WebNLG_evaluation/GenerationEval/example.sh
/WebNLG_evaluation/GenerationEval/install_dependencies.sh
/WebNLG_evaluation/GenerationEval/LICENSE
/WebNLG_evaluation/GenerationEval/README.md
/WebNLG_evaluation/GenerationEval/requirements.txt
/WebNLG_corpus_reader/reference2-en.txt
/WebNLG_corpus_reader/example.py
/WebNLG_corpus_reader/generate_references.py
/WebNLG_corpus_reader/reference0-en.txt
/WebNLG_corpus_reader/reference1-ru.txt
/WebNLG_corpus_reader/webnlg-dataset/
/WebNLG_corpus_reader/reference1-en.txt
/WebNLG_corpus_reader/reference4-ru.txt
/WebNLG_corpus_reader/reference2-ru.txt
/WebNLG_corpus_reader/reference5-en.txt
/WebNLG_corpus_reader/reference6-en.txt
/WebNLG_corpus_reader/reference5-ru.txt
/WebNLG_corpus_reader/reference3-en.txt
/WebNLG_corpus_reader/benchmark_reader.py
/WebNLG_corpus_reader/README.md
/WebNLG_corpus_reader/LICENSE
/WebNLG_corpus_reader/reference6-ru.txt
/WebNLG_corpus_reader/reference0-ru.txt
/WebNLG_corpus_reader/reference3-ru.txt
/WebNLG_corpus_reader/reference4-en.txt
/WebNLG_corpus_reader/train.xml
/WebNLG_corpus_reader/train.json
/WebNLG_corpus_reader/reference7-en.txt
.idea